.header {
  position: fixed;
  top: 0;
  height: 56px;
  width: 100%;
  background-color: #082032;
  display: flex;
  z-index: 10;
  justify-content: center;
  .header__container {
    max-width: 1024px;
    position: relative;
    color: white;
    display: flex;
    line-height: 56px;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    .header__container-name {
      width: 220px;
      display: none;
      line-height: 56px;
      font-size: 32px;
      font-weight: 800;
      color: #cc5a71;
      margin-left: 20px;
      &::after {
        content: "";
        position: absolute;
        left: 20px;
        background-color: #082032;
        height: 80%;
        width: 100%;
        // animation: typingNameHeader 6s steps(12) 1;
        animation: typingNameHeader 3s steps(12) 1 normal both;
      }
    }
    .header__container-navbar {
      display: flex;
      width: 70%;
      list-style-type: none;
      overflow: hidden;
      a {
        text-decoration: none;
        li {
          color: white;
          font-size: 18px;
          padding: 0 20px;
          font-weight: 500;
          cursor: pointer;
          &:hover {
            color: #cc5a71;
            transition: 0.5s;
          }
        }
      }
    }
    .icon {
      color: white;
      width: 30%;
      margin-right: 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
      i {
        color: white;
        font-size: 24px;
        padding: 0 8px;
        &:hover {
          color: #cc5a71;
          transform: scale(1.5);
          transition: 0.5s;
        }
      }
    }
  }
}
.burger {
  display: none;
  position: absolute;
  right: 20px;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  input {
    display: none;
  }
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.35s ease-in-out;
  }
  span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
}

.navbar-mobile {
  width: 100%;
  display: none;
  position: absolute;
  padding: 8px 16px;
  top: 76px;
  background-color: #101419;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  ul {
    list-style: none;
    a {
      text-decoration: none;
      li {
        color: white;
        font-weight: 500;
        text-align: center;
        font-size: 18px;
      }
    }
  }
  .mobile-icon {
    display: flex;
    justify-content: center;
    a {
      color: white;
      font-size: 24px;
      padding: 4px 8px;
    }
  }
}

@keyframes typingNameHeader {
  // 0% {
  //   left: 20px;
  // }
  // 25% {
  //   left: 30%;
  // }
  // 50% {
  //   left: 63%;
  // }
  // 75% {
  //   left: 30%;
  // }
  // 100% {
  //   left: 63%;
  // }
  from {
    left: 20px;
  }
  to {
    left: 63%;
  }
}
@keyframes typingName {
  0% {
    left: 20px;
  }
  25% {
    left: 30%;
  }
  50% {
    left: 63%;
  }
  75% {
    left: 30%;
  }
  100% {
    left: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 76px;
    .header__container {
      .header__container-navbar li {
        display: none;
      }
      .header__container-name {
        display: block;
      }
      .burger {
        display: block;
      }
      .icon a {
        display: none;
      }

      .navbar-mobile {
        display: block;
        ul {
          li {
            &:hover {
              display: block;
              background: #cccc;
              transform: scaleX(110px);
            }
          }
        }
      }
    }
  }
}
