@import "@style/_global.scss";

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
  @include mobile {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  &__container {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
      padding: 0 8px;
    }
    &-img {
      width: 35%;
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
      border-radius: 12px;
      @include mobile {
        width: 100%;
        margin-bottom: 20px;
      }
      img {
        width: 100%;
        border-radius: 12px;
        height: 100%;
        object-fit: cover;
      }
    }
    &-content {
      padding-left: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 65%;
      @include mobile {
        width: 100%;
        padding: 0px;
      }
      &-header {
        p {
          display: inline-block;
          font-size: 36px;
          font-weight: 800;
          color: $base-color;
          position: relative;
          cursor: default;
          &::after {
            content: "";
            position: absolute;
            width: 50%;
            height: 4px;
            background-color: $spot-color;
            left: 0;
            bottom: 0;
            transition: 0.3s;
          }
          &:hover::after {
            width: 100%;
          }
          @include mobile {
            margin-top: 20px;
            margin-bottom: 20px;
          }
        }
      }
      &-tech {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        @include mobile {
          justify-content: center;
        }
        .tech {
          margin-top: 10px;
          padding: 10px 16px;
          max-width: 140px;
          text-align: center;
          font-size: 18px;
          background-color: $spot-color;
          color: white;
          font-weight: 600;
          display: inline-block;
          margin-right: 10px;
          border: 2px solid $base-color;
          &:hover {
            color: $base-color;
            transition: ease-out 0.3s;
            cursor: default;
          }
          @include mobile {
            margin-right: 6px;
          }
        }
      }
      &-desc {
        font-size: 20px;
        margin-top: 20px;
        text-align: justify;
      }
      .about__container-download-button {
        margin-top: 20px;
        text-align: right;
        a {
          display: inline-block;
          padding: 15px 20px;
          cursor: pointer;
          background-color: $spot-color;
          border: 2px solid $base-color;
          font-size: 20px;
          color: white;
          font-weight: 600;
          text-decoration: none;
          transition: all 0.4s;
          &:hover {
            border-radius: 5px;
            transform: translateY(-10px);
            box-shadow: 0 7px 0 -2px $base-color, 0 15px 0 -4px #f85959,
              0 16px 10px -3px #f85959;
          }
          &:active {
            transition: all 0.2s;
            transform: translateY(-5px);
            box-shadow: 0 2px 0 -2px $base-color, 0 8px 0 -4px #f85959,
              0 12px 10px -3px #f85959;
          }
        }
      }
    }
  }
}
